{% extends 'core/base.html' %}

{% block title %}Điều khoản sử dụng{% endblock %}

{% block content %}
 
    <div class="mt-2 px-6 py-6 bg-white-100 rounded-xl">
        <h5 class="mb-6 text-4xl font-semibold text-center text-black-400">ĐIỀU KHOẢN SỬ DỤNG</h5>
        <h1 class="mt-6 text-xl font-semibold text-black-400">1. Đánh giá khóa học và thảo luận: </h1>
        <h2>Học viên khi tham gia khóa học trên Unica có quyền đánh giá về chất lượng khóa học.</h2>
        <h2>mỗi khóa học trên Study with F5 đều có 1 Group Thảo luận riêng cho các học viên và giảng viên để trao đổi các vấn đề chuyên môn.</h2>
        <h3 class="mt-6 text-xl font-semibold text-black-400">2. Nghiêm cấm sử dụng dịch vụ với các hành vi dưới đây: </h3>
        <h3>Sử dụng bất kỳ công cụ hay hình thức nào để can thiệp vào các dịch vụ, khóa học trong hệ thống Study with F5.</h3>
        <h3>Hành vi, thái độ làm tổn hại đến uy tín của các sản phẩm, dịch vụ, khóa học trong hệ thống Study with F5 dưới bất kỳ hình thức nào, phương thức nào.</h3>
        <h3>Xúc phạm, nhạo báng người khác dưới bất kỳ hình thức nào: chê bai, kỳ thị tôn giáo, giới tính, sắc tộc..</h3>
        <h3>Khi phát hiện những hành vi trên từ tài khoản của bạn, Study with F5 có quyền tước bỏ mọi quyền lợi liên quan đối với tài khoản (bao gồm việc khóa tài khoản) hoặc sử dụng những thông tin mà bạn cung cấp khi đăng ký tài khoản để chuyển cho cơ quan chức năng giải quyết theo quy định của pháp luật.</h3>
        <h3 class="mt-6 text-xl font-semibold text-black-400">3. Chính sách hoàn trả học phí:</h3>
        <h3>Nếu bạn không hài lòng hoặc nội dung khóa học không như bạn mong đợi, bạn có thể yêu cầu hoàn lại học phí qua email: studywithf5@gmail.com </h3>
        <h3>1. Trong vòng 7 ngày kể từ ngày thanh toán</h3>
        <h3>2. Học chưa quá 30% số bài học</h3>
        <h3>Thời hạn hoàn tiền: trong vòng 7 ngày làm việc kể từ ngày nhận được yêu cầu của bạn.</h3>
       
    </div>
{% endblock %}