{% extends 'core/base.html' %}

{% block title %}Giới thiệu{% endblock %}

{% block content %}
 
 <footer class="mb-40 py-6 px-6 flex justify-between bg-orange-600">
  <div class="mt-2 px-6 py-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-4xl font-semibold text-center text-black-400">GIỚI THIỆU VỀ STUDY WITH F5</h1>
    <h2>Chào mừng bạn đến với Study with F5, nơi có những khóa học luyện thi đánh giá năng lực! Chúng tôi tự hào là một trong những nơi hàng đầu cung cấp khóa học luyện thi đánh giá năng lực cho các bạn trẻ tại Việt Nam.

        Chúng tôi luôn cam kết mang đến cho các học viên những khóa học chất lượng, được thiết kế và giảng dạy bởi đội ngũ giáo viên có kinh nghiệm, tâm huyết và chuyên môn cao. Khóa học của chúng tôi không chỉ giúp các học viên nâng cao kiến thức, kỹ năng mà còn giúp các bạn xây dựng tư duy logic, phản xạ nhanh.
        
        Với đội ngũ giáo viên giàu kinh nghiệm và các phương pháp giảng dạy tiên tiến, chúng tôi cam kết sẽ giúp các học viên đạt được kết quả tốt nhất trong kỳ thi đánh giá năng lực. Bên cạnh đó, chúng tôi còn đưa ra những tư vấn học tập hữu ích, giúp các bạn có được lộ trình học tập phù hợp nhất.
        
        Hãy đến với chúng tôi để có những trải nghiệm học tập tuyệt vời nhất và đạt được những thành tích tuyệt vời nhất!</h2>
  </div>
{% endblock %}